<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ThirdStateMapper">
	<select id="query" parameterType="String" resultType="int">
		select count(id) from thirdState where state=#{state}
	</select>	
	
	<insert id="save" parameterType="ThirdState" useGeneratedKeys="true" keyProperty="id">
		insert into thirdState(state) values (#{state})
	</insert>
	
	
	<delete id="delete" parameterType="String">
		delete from thirdState where state=#{state}
	</delete>
</mapper>